Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.3.29
langchain==0.0.316
langchain-community==0.0.17
langchain-core==0.1.18
langsmith==0.0.83
openai==0.28.1
openapi-schema-pydantic==1.2.4
PyMuPDF==1.23.16
PyMuPDFb==1.23.9
python-dotenv==1.0.0
streamlit==1.31.0
streamlit-ace==0.1.1
